[FEATURE REQUEST] Add Parameter "in" property from OpenAPI

Following the Specification for the parameter object.
_"It SHOULD be present only when using channels with expressions (as defined by RFC 6570 section 2.2)."_

The RFC 6570 section 2.2 defines query-style as &name=value pairs within a literal query component.

So Channels following URI pattern and query-styles being defined the parameters should accept **"in": path** and **"in": query**.

for that the schema for Parameter Object should accept the "in" property, going close towards the OpenAPI specification.


You are right, I completely overlooked the query-style part of RFC 6570 section 2.2. That said, do you have an example where you'd like to use this kind of parameters?