[FEATURE REQUEST] Add root-level id property

**Is your feature request related to a problem? Please describe.**
When listing our APIs in a catalog we'll want to refer to them with a unique identifier. This identifier will also help develop tooling where the id of the application (producer/consumer) is important. E.g., ACLs, visualization, etc. 

**Can't it be tackled using specification extensions?**
Yes, but an id for the document seems to be a reasonable thing to standardize.

**Describe the solution you'd like**
Add a **required** root-level `id` property that MUST follow the [RFC 3986 Section 4.1 URI Reference](https://tools.ietf.org/html/rfc3986#section-4.1) format.

###### Example
```yaml
asyncapi: '2.0.0'
id: urn:com:smartylighting:streetlights:server
...
```

**Describe alternatives you've considered**
Adding it as a non-required specification extension. Not happy with this solution because it will create a mess where some documents have identifiers and some don't.
