[BUG] Server Object field "url" description is inaccurate

**Describe the bug**
The AsyncAPI specification says about the Server Object `url` field that it contains a URL and "MAY be relative", but then uses as an example value "development.gigantic-server.com". This is not an (absolute) URL because it lacks a colon-terminated scheme such as "https", but if interpreted as a _relative_ reference then the result will be something like "https://example.com/example-service/asyncapi.json/../development.gigantic-server.com" (specifically because "_a relative reference that does not begin with a slash character is termed a **relative-path reference**_" and inherits the authority component and path prefix of its base URI, cf. [RFC 3986 section 4.2](https://tools.ietf.org/html/rfc3986#section-4.2) and [section 5.2.3](https://tools.ietf.org/html/rfc3986#section-5.2.3)).

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to https://www.asyncapi.com/docs/specifications/2.0.0/#serverObject or https://www.asyncapi.com/docs/specifications/1.2.0/#serverObject, or their respective git snapshots ([2.0.0](https://github.com/asyncapi/asyncapi/blob/1b20012080f5d21c134a1014b147ef860ee22f8a/versions/2.0.0/asyncapi.md#server-object), [1.2.0](https://github.com/asyncapi/asyncapi/blob/78e98e01a8077ced16a176f700f789e40df1d1fb/versions/1.2.0/asyncapi.md#server-object)).
2. Observe that `url` is a URL and "MAY be relative", but the absence of text allowing it to be a bare host name (or IP address, for that matter) despite the use of an example value that looks like one.

**Expected behavior**
Presumably the intent is to interpret values matching the [RFC 1034 section 3.5 preferred name syntax](https://tools.ietf.org/html/rfc1034#section-3.5) as updated by [RFC 1123 section 2.1](https://tools.ietf.org/html/rfc1123#section-2) (i.e., non-address strings matching the regular expression pattern `^[a-zA-Z0-9]+(-+[a-zA-Z0-9]+)*(\.[a-zA-Z0-9]+(-+[a-zA-Z0-9]+)*)*$`) as the host component of a URL with default scheme and path (e.g., "https://{value}/") and use the relative reference treatment only as a fallback. If so, the description should be updated accordingly.

And if there is also a desire to allow not just host names but also IP addresses, that should be documented as well.

**Sample document**
n/a

**Screenshots**
n/a

**Additional context**
n/a


Hey @gibson042! Thanks for reporting the bug. I think the problem is actually with the example. It should probably use `tcp://` or `kafka://` (not sure this one is valid). I don't think we should specify that IP addresses are allowed. They are because they can be part of a URL. I agree we could probably add an example using an IP address.

This is still relevant, it just lacks a clear path to resolution.

My suggestions to resolve:
1. Update all examples to use URLs that include scheme.
2. Add an additional example to illustrate how the server URL is determined when relative URLs are used and consider clarifying the language here.